<h2>Bienvenue sur l'application Click and Collect</h2>
<h3>service de pressing et blanchisserie à domicile</h3>
<p>Click and Collect vous offre un système de prise et livraison de votre linge en incluant un agenda où vous décidez de la date de prise et de retour</p>
<h4>Explorez nos services</h4>
<ul>
  <li>Agenda avec date de prise/livraison</li>
  <li>echantillonage de vos pieces avec prix pour chaque</li>
  <li>total du prix à payer d'après encodage de vos pieces </li>
</ul>
<h3>Pourquoi choisir Click and Collect</h3>
<ul>
  <li>interface très pratique et facile d'utilisation</li>
  <li>service à la pointe de la technologie</li>
  <li>possibilité de modifier votre service ou de l'annuler 24h à l'avance</li>
</ul>
<h4>Conquis?</h4>
<p>Naviguez sur notre appli et commencez à vous faciliter la vie en gestion de vos lessives</p>
<section class="stage">
  <figure class="ball bubble"></figure>
</section>
